:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

    --primary-500: var(--pale-blue);
    --primary-900: var(--bright-blue);

    --neutral-100: var(--very-pale-blue);
    --neutral-500: var(--desaturated-blue);
    --neutral-900: var(--dark-blue);

    --active: hsl(245, 80%, 68%);

    --fs-normal: 1em;
    --fs-large: 1.8em;

    --fw-medium: 500;
    --fw-bold: 700;
    --fw-bolder: 900;
}

@media screen and (min-height: 480px) {
    :root {
        --fs-large: 1.3em;
        --fs-normal: 1em;
    }
}

* {
    padding: 0;
    margin: 0;
}


body {
    color: var(--neutral-900);
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--primary-500);
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;

    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.component {
    color: var(--neutral-900);
    background-color: white;
    width: 90%;
    border-radius: 1.5em;
    box-shadow: 0 1em 3em -2em var(--neutral-500);

    display: flex;
    flex-direction: column;
}

.hero-image {
    width: 100%;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

}

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    padding: 1.25em;
    gap: 1.5em;
}

h1 {
    font-size: var(--fs-large);
    font-weight: var(--fw-bolder);
    padding-top: .8em;
}

.main-text {
    color: var(--neutral-500);
    font-size: var(--fs-normal);
    font-weight: var(--fw-medium);
    line-height: 1.5em;
    padding: 0 1em;
}

.plan {
    border-radius: .5em;
    background-color: var(--neutral-100);
    display: flex;
    padding: .5em 1em;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
    height: 4em;
}

.plan > img {
    width: 3em;
    /*flex: 1;*/
}

.plan-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 2;
}

.plan-text > p {
    color: var(--neutral-500);
}

h2 {
    font-size: var(--fs-normal);
    font-weight: var(--fw-bolder);
}

.change {
    color: var(--primary-900);
    font-weight: var(--fw-bolder);
    text-decoration: underline;
    font-size: .8em;
    flex: 1;
}

.change:hover {
    color: var(--active);
    text-decoration: none;
}

.proceed-button {
    background-color: var(--primary-900);
    color: var(--primary-500);
    box-shadow: 0 1em 1em .5em;
}

.proceed-button:hover {
    background-color: var(--active);
}

.cancel-button {
    color: var(--neutral-500);
}

.cancel-button:hover {
    color: var(--neutral-900);
}

.proceed-button, .cancel-button {
    font-size: var(--fs-normal);
    border-radius: .5em;
    font-weight: var(--fw-bold);
    padding: 1em;
}

.attribution {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 480px) {
    .component {
        width: 30%;
    }

    main {
        padding: 3em;
    }

    body {
        background-image: url("images/pattern-background-mobile.svg");
    }
}
